<%= render 'shared/page_title', title: 'All Contributers' %>

<div class="container">
  <ul class="nav nav-tabs">
    <li>
      <%= link_to "All Recipes", recipes_path %>
    </li>
    <li class="active">
      <%= link_to "Contributer: ", chefs_path %>
    </li>
  </ul>
   <div class="row">
    <p>&nbsp</p>
    <p>&nbsp</p>
  </div>
</div>

<div class="container">
  <% @chefs.each do |chef| %>
  <div class= "col-sm-6 col-sm-6 center">
  <%= link_to gravatar_for(chef, size: 200), chef_path(chef) %>
    <p>
      <h5>Contributer: <%= chef.chefname %></h5>
    </p>
    <p>&nbsp</p>
  </div>
<% end %>
</div>
  <div class="paginate center">
    <%= will_paginate %>
  </div>
